body{
  font-family: 'Poppins', sans-serif;
}
.mybg {
    height: 100px;
    background-color: #9afafa;
}

.box {
    height: 44px;
    width: 218px;
    padding: 14px;
    margin-right: 645px;
    margin-top: 26px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left-style: none;
}

.submit {
    display: inline-block;
    background-size: 40px;
    background-color: rgb(255, 51, 136);
    width: 44px;
    height: 33px;
    margin-left: 400px;
    margin-bottom: 220px;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 26px;
    border-radius: 2px;
    background-position: right;
    padding: 20px;
    background-image: url("https://icongr.am/entypo/magnifying-glass.svg?size=16&color=ffffff");
}

.images {
    height: 37px;
    width: 39px;
    margin-right: 1254px;
  margin-top: -32px;
    margin-left: 15px;
    margin-bottom: -76px;
    display: block;
}

.image1 {
    height: 37px;
    width: 39px;
    margin-right: 1310px;
    margin-bottom: 262px;
    margin-left: 100px;
    display: block;
    position: absolute;
    margin-top: 42px;
}
.image2{
  height: 37px;
  width: 39px;
  margin-right: 1198px;
  margin-bottom: 268px;
  margin-left: 75px;
  display: block;
  position: absolute;
  margin-top: 42px;
}
.image3{
    height: 69px;
    width: -88px;
    margin-right: 144px;
    margin-bottom: 307px;
    margin-left: 100px;
    display: block;
    position: absolute;
    margin-top: 28px;
    
  }
  .bord{
    border-radius: 2px;
    border-top: 10px;
  }
  .back{
    background-image: url(/images/depositphotos_287958584-stock-illustration-seamless-vector-pattern-colorful-pastel.jpg);
     height: 700px;
  }
  .background{
    margin-right: 900px;
    margin-top: 85px;
    background-repeat: no-repeat;
}
.content{
display: inline-block;
}
.product{
position: relative;
}
.product-submit{
  display: flex;
  padding-left: 95px;
  margin-left: 10px;
  width: 262px;
  margin-right: 150px;
  height: 48px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #F8BBD0;
  font-size: 15px;
  padding-top: 9px;
 cursor: pointer;
 transition: all 180ms ease-in 80ms;
 outline: none ;
 color: aliceblue;
 gap: 7px;
}
.product-submit-icon{
width: 22px;
height: 22px;
transition: all 180ms ease-in 80ms;
}
.product-submit-icon1{
  width: 19px;
height: 19px;
position: absolute;
margin-right: 220px;
  margin-top: 3px;
transition: all 180ms ease-in 80ms;
}
.product-list{
  width: 221px;
  margin-right: 167px;
  position: absolute;
  border-radius: 6px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1) ;
  background-color: #F8BBD0;
  transition: all 180ms ease-in 80ms;
  visibility: hidden;
  opacity: 0;
}
.product-list{
}
.list{
 list-style-type: none;
 background-color: #F8BBD0;
 border-radius: 10px;
 width:221px ;
 height: 221px;
 margin-right: 150px;
 margin-bottom: 10px;
}
li{
  padding-left: 40px;
}
.product-list a{
  text-decoration: none;
  display: inline-block;
  color: black;
  margin-bottom: 20px;
  padding-right: 10px;
 
}
.product-list a::after{
  content: "";
  width: 100%;
  display: block;
  height: 1px;
  background-color:#9E9E9E; 
}

.product-list a:last-child{
  margin-bottom: 0;
}
.content:hover .product-list{
  visibility: visible;
  opacity: 1;
  transform: translateY(12px);

}

 .product-submit:hover{
 transform: translateX(5px);

}
.product-list a:hover{
  background-color: #EEEEEE;
}
